Canguro/Web References/CanguroServer/Analysis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://treusoft.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://treusoft.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://treusoft.com/">
      <s:element name="Analyze">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="host" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileArray" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="analysisOptions" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="modelSize" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="quotation" type="tns:Quotation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Quotation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ModelInfo" type="tns:ModelInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cost" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="CanAfford" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Timestamp" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Concept" type="tns:Concept" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPro" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ModelInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Joints" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Lines" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultsCases" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Design" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PDelta" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Concept">
        <s:restriction base="s:string">
          <s:enumeration value="Analysis" />
          <s:enumeration value="Export" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AnalyzeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AnalyzeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportToS2K">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="host" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileArray" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="analysisOptions" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="modelSize" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="quotation" type="tns:Quotation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportToS2KResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportToS2KResult" type="tns:AnalysisResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AnalysisResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Manifest" type="tns:AnalysisManifest" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="tns:AnalysisState" />
          <s:element minOccurs="1" maxOccurs="1" name="StateInfo" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AnalysisManifest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DecryptionKey" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="DecryptionVector" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Summary" type="tns:ManifestItem" />
          <s:element minOccurs="0" maxOccurs="1" name="Design" type="tns:ManifestItem" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfManifestItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ManifestItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfManifestItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ManifestItem" nillable="true" type="tns:ManifestItem" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AnalysisState">
        <s:restriction base="s:string">
          <s:enumeration value="Queued" />
          <s:enumeration value="Analyzing" />
          <s:enumeration value="Finished" />
          <s:enumeration value="UnknownState" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetResults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="analysisID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResultsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResultsResult" type="tns:AnalysisResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Quote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="host" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QuoteResult" type="tns:Quotation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSellFromSerial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSellFromSerialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddSellFromSerialResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AnalyzeSoapIn">
    <wsdl:part name="parameters" element="tns:Analyze" />
  </wsdl:message>
  <wsdl:message name="AnalyzeSoapOut">
    <wsdl:part name="parameters" element="tns:AnalyzeResponse" />
  </wsdl:message>
  <wsdl:message name="ExportToS2KSoapIn">
    <wsdl:part name="parameters" element="tns:ExportToS2K" />
  </wsdl:message>
  <wsdl:message name="ExportToS2KSoapOut">
    <wsdl:part name="parameters" element="tns:ExportToS2KResponse" />
  </wsdl:message>
  <wsdl:message name="GetResultsSoapIn">
    <wsdl:part name="parameters" element="tns:GetResults" />
  </wsdl:message>
  <wsdl:message name="GetResultsSoapOut">
    <wsdl:part name="parameters" element="tns:GetResultsResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="QuoteSoapIn">
    <wsdl:part name="parameters" element="tns:Quote" />
  </wsdl:message>
  <wsdl:message name="QuoteSoapOut">
    <wsdl:part name="parameters" element="tns:QuoteResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterUserSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="RegisterUserSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddSellFromSerialSoapIn">
    <wsdl:part name="parameters" element="tns:AddSellFromSerial" />
  </wsdl:message>
  <wsdl:message name="AddSellFromSerialSoapOut">
    <wsdl:part name="parameters" element="tns:AddSellFromSerialResponse" />
  </wsdl:message>
  <wsdl:portType name="AnalysisSoap">
    <wsdl:operation name="Analyze">
      <wsdl:input message="tns:AnalyzeSoapIn" />
      <wsdl:output message="tns:AnalyzeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportToS2K">
      <wsdl:input message="tns:ExportToS2KSoapIn" />
      <wsdl:output message="tns:ExportToS2KSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResults">
      <wsdl:input message="tns:GetResultsSoapIn" />
      <wsdl:output message="tns:GetResultsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Quote">
      <wsdl:input message="tns:QuoteSoapIn" />
      <wsdl:output message="tns:QuoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input message="tns:RegisterUserSoapIn" />
      <wsdl:output message="tns:RegisterUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddSellFromSerial">
      <wsdl:input message="tns:AddSellFromSerialSoapIn" />
      <wsdl:output message="tns:AddSellFromSerialSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AnalysisSoap" type="tns:AnalysisSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Analyze">
      <soap:operation soapAction="http://treusoft.com/Analyze" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportToS2K">
      <soap:operation soapAction="http://treusoft.com/ExportToS2K" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResults">
      <soap:operation soapAction="http://treusoft.com/GetResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://treusoft.com/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Quote">
      <soap:operation soapAction="http://treusoft.com/Quote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://treusoft.com/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSellFromSerial">
      <soap:operation soapAction="http://treusoft.com/AddSellFromSerial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnalysisSoap12" type="tns:AnalysisSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Analyze">
      <soap12:operation soapAction="http://treusoft.com/Analyze" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportToS2K">
      <soap12:operation soapAction="http://treusoft.com/ExportToS2K" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResults">
      <soap12:operation soapAction="http://treusoft.com/GetResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://treusoft.com/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Quote">
      <soap12:operation soapAction="http://treusoft.com/Quote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap12:operation soapAction="http://treusoft.com/RegisterUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSellFromSerial">
      <soap12:operation soapAction="http://treusoft.com/AddSellFromSerial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Analysis">
    <wsdl:port name="AnalysisSoap" binding="tns:AnalysisSoap">
      <soap:address location="https://www.treusoft.com/CanguroServerR2.1/Analysis.asmx" />
    </wsdl:port>
    <wsdl:port name="AnalysisSoap12" binding="tns:AnalysisSoap12">
      <soap12:address location="https://www.treusoft.com/CanguroServerR2.1/Analysis.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>